@import "../base/variables";
@import "../base/extends";
.footer-container {
	footer {
		margin: 0 auto;
		width: 100%;
		bottom: 0;
	}
}
.piedepagina {
	background-color: black;
	@extend %flex;
	bottom: 0;
	left: 0px;
	height: 120px;
	padding: 10px 0px;
	width: 100%;
}
ol {
	padding-left: 0;
}
ul {
	padding-left: 0;
}
.footer-links {
	@extend %flex;
	list-style: none;
	gap: 10px;
	margin-top: 10px;
	font-family: $font-family_2;
	li {
		a {
			text-decoration: none;
			color: $color_3;
			transition: 0.3s all ease-in-out;
			padding: 5px 7px;
			border-radius: 2px;
			&:hover {
				text-decoration: none;
				color: $color_2;
				background-color: white;
			}
		}
	}
}