@import "../base/variables";
@import "../base/extends";
.product {
    display: flex;
    align-items: center;
    /* border: 1.5px solid black; */
    width: 55%;
    margin-bottom: 10%;
    border-radius: 5px;
    margin: 8% auto;
    /* background-color: white; */
	
	mix-blend-mode: multiply;


}
.jordan1red {
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 4px;
	background-color: red;
}
.product-description {
    flex-direction: column;
    display: flex;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
	h2 {
		font-family: $font-family_2;
		font-size: 2.75rem;
		text-align: center;
		border-bottom: 1px solid #000000;
	}
	h3 {
		font-family: $font-family_2;
		font-size: 2.125rem;
		text-align: center;
		margin-top: 1em;
	}
	
}

.product-text {
	display: flex;
	flex-direction: column;
	margin-top: 0;
	position: relative;
	top: 0;
	
	// p{
		
	// 	font-size: 1.125rem;
	// 	font-family: $font-family_3;
	// 	text-align: center;
	// 	margin-bottom: 10px;
		
	// }
}
.stars-calification {
	width: 100%;
	margin: 0 auto;
	height: 50px;
	p {
		text-align: center;
	}
	label {
		font-size: 2.188rem;
	}
}
.input-estrella[type="radio"] {
	display: none;
}
.star-label {
	color: $color_4;
	&:hover {
		color: $color_5;
		cursor: pointer;
		~ {
			.star-label {
				color: $color_5;
				cursor: pointer;
			}
		}
	}
}
.clasificacion {
	direction: rtl;
	unicode-bidi: bidi-override;
}
input[type="radio"] {
	[name=estrellas] {
		&:checked {
			~ {
				label {
					color: $color_5;
				}
			}
		}
	}
}
.buy-button {
	padding: 1.5%;
	width: 100%;
	height: auto;
	background-color: #000000;
	color: $color_1;
	border: none;
	border-radius: 5px;
	transition: background-color 0.4s;
	&:hover {
		background-color: #292828;
	}
}
.talles {
	margin-top: 5%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin-bottom: 20px;
	h4 {
		font-size: 2.125rem;
		font-family: $font-family_3;
		text-align: center;
		margin-bottom: 10px;
	}
}
.product-text-fees{
	p{
		margin-top: 5%;
		
		font-family: $font-family_3;
		text-align: center;
		margin-bottom: 1%;
	}
}
form {
	display: flex;
	font-family: $font-family_4;
	gap: 15px;
	flex-direction: row;
	justify-content: center;
}

// .carousel-item {
// 	img{
//     mix-blend-mode: multiply !important;
// 	    }
// }

// .foto-aj1-red {
// 	img{
//     mix-blend-mode: multiply !important;
// 	    }
// }

.w-85 {
	mix-blend-mode: multiply !important;
}

// .carousel-item-next{
// 	img{
// 		mix-blend-mode: multiply !important;
// 			}
// } 

// .carousel-item-start{
// 	img{
// 		mix-blend-mode: multiply !important;
// 			}
// }
// .carousel-item-end{
// 	img{
// 		mix-blend-mode: multiply !important;
// 			}
