@import "../base/variables";
@import "../base/extends";


.product-img-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	gap: 5px;
	grid-auto-flow: row;
	grid-template-areas: "foto-1 foto-2 foto-3" "foto-4 foto-5 foto-6" "foto-7 foto-8 foto-9";
}
.foto-1 {
	grid-area: foto-1;
	width: 19.688rem;
}
.foto-2 {
	grid-area: foto-2;
	width: 19.688rem;
}
.foto-3 {
	grid-area: foto-3;
	width: 19.688rem;
}
.foto-4 {
	grid-area: foto-4;
	width: 19.688rem;
}
.foto-5 {
	grid-area: foto-5;
	width: 19.688rem;
}
.foto-6 {
	grid-area: foto-6;
	width: 19.688rem;
}
.foto-7 {
	grid-area: foto-7;
	width: 19.688rem;
}
.foto-8 {
	grid-area: foto-8;
	width: 19.688rem;
}
.foto-9 {
	grid-area: foto-9;
	width: 19.688rem;
}
.text-products {
	margin-top: 1rem;
	h3 {
		text-align: center;
		font-family: $font-family_5;
		font-size: 2.5rem;
		font-style: italic;
		font-style: bold;
		font-weight: 600;
		padding: 0.625rem 0;
   	 	letter-spacing: 1vw;
    	text-transform: uppercase;
	}
}
.products-container {
	display: flex;
	justify-content: center;
	margin: 1.25em 0px;
	align-items: center;
}
.product-div {
	padding-bottom: 3.125rem;
	border: 0.5px solid rgba(62, 61, 61, 0.375);
	border-radius: 5px;
	background-color: white;
	a {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	img {
		border-radius: 5px;
	}
}
.product-name {
	p {
		display: flex;
		justify-content: space-around;
		font-family: $font-family_5;
		font-stretch: expanded;
    	font-style: normal;
    	font-weight: 750;
		font-size: 1.563rem;
	}
	h3 {
		display: flex;
		justify-content: space-around;
		font-family: $font-family_5;
		font-size: 1.25rem;
	}
}
.buy-button-products {
	padding: 0.625rem 4.625rem;
	background-color: #000000;
	color: $color_1;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.4s;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	&:hover {
		background-color: #1e1d1d;
	}
}


.w-90{
	width: 90%;
}
.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #000000;
    --bs-btn-border-color: #0d6efd;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #000000;
    --bs-btn-hover-border-color: #000000;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #000000;
    --bs-btn-active-border-color: #0a53be;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #0d6efd;
    --bs-btn-disabled-border-color: #0d6efd;
}