$color_1: #ffffff;
$color_2: black;
$color_3: white;
$color_4: grey;
$color_5: orange;
$base-bg:#f5f5f5f1;
$font-family_1: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family_2: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$font-family_3: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
$font-family_4: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
$font-family_5: 'Raleway', sans-serif;


